#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  .login-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 770px) {
      width: 90vw;
    }
    .registerInputContainer {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      position: relative;
      justify-content: center;
      input {
        font-size: 1.109vw;
        font-weight: 500;
        width: 90%;
        line-height: 1.663vw;
        border-radius: 0.277vw;
        border: 1px solid #797585;
        margin: 25px 0 0 0;
        background-color: white;
        padding: 10px 0px 10px 5vw;
        &:focus {
          background-color: white;
        }
        @media (max-width: 770px) {
          padding: 10px 0px 10px 10vw;
          font-size: 14px;
        }
      }
    }
  }
}
.eye {
  position: absolute;
  right: 4vw;
  top: 85%;
  transform: translateY(-85%);
  cursor: pointer;
  @media (max-width: 770px) {
    right: 8vw;
  }
}
.mail {
  position: absolute;
  left: 3.5vw;
  top: 85%;
  transform: translateY(-85%);
  @media (max-width: 770px) {
    left: 5vw;
  }
}
.key {
  position: absolute;
  left: 3.5vw;
  top: 85%;
  transform: translateY(-85%);
  @media (max-width: 770px) {
    left: 5vw;
  }
}
