#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.registerInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 40vw;
}
// input {
//   font-size: 1.109vw;
//   font-weight: 500;
//   line-height: 1.663vw;
//   border-radius: 0.277vw;
//   width: 100%;
//   border: 1px solid #797585;
//   padding: 1.109vw 0px 1.109vw 3.049vw;
// }
// input::placeholder {
//   color: #797585;
//   opacity: 1;
// }
.lIcon {
  left: 3%;
}

.key {
  left: 90%;
  cursor: pointer;
}
